In [1]:
def spam(eggs):
    eggs.append(1)
    eggs.append(5)
    eggs = [2, 4]
    print(eggs)
ham = [0, 4]
spam(ham)
print(ham)

[2, 4]
[0, 4, 1, 5]

In [3]:
def spam(eggs):
    eggs.append(1)
    eggs.append(5)
    eggs = [2, 4]
    print(eggs)
ham = [0, 4]
print(spam(ham))

[2, 4]
None

In [4]:
def swap_value (x, y):
    temp = x
    x = y
    y = temp
def swap_offset (offset_x, offset_y):
    temp = a[offset_x]
    a[offset_x] = a[offset_y]
    a[offset_y] = temp 
def swap_reference (listex, offset_x, offset_y):
    temp = listex[offset_x]
    listex[offset_x] = listex[offset_y]
    listex[offset_y] = temp

In [6]:
ex = [1, 2, 3, 4, 5]
swap_value(ex[0], ex[1])
ex

[1, 2, 3, 4, 5]

In [9]:
a = [1, 2, 3, 4, 5]
swap_offset(0, 1)
a

[2, 1, 3, 4, 5]

In [11]:
a = [1, 2, 3, 4, 5]
swap_reference(a,0, 1)
a 
# swap_reference에서 listex가 a를 복사해서 사용함

[2, 1, 3, 4, 5]

In [12]:
def f():
    global s
    s = "London"
    print(s)
s = "Paris"
f()
print(s)

London
London

In [14]:
def calculate(x,y):
    total = x + y
    print("-----In-----")
    print("a: ", a, " b: ", b, " a+b: ", a+b, " total: ", total)
    return total
a = 5
b = 7
total = 0
print("-----before-----")
print("a: ", a, " b: ", b, " a+b: ", a+b)

sum = calculate(a, b)
print("-----after-----")
print("a: ", a, " b: ", b, " a+b: ", a+b, " total: ", total)

-----before-----
a:  5  b:  7  a+b:  12
-----In-----
a:  5  b:  7  a+b:  12  total:  12
-----after-----
a:  5  b:  7  a+b:  12  total:  0

In [15]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 10
3628800

In [16]:
def fact(n):
    for i in range(n-1,1,-1):
        return n * i
print(factorial(int(input("Input Number for Factorial Calculation: "))))

Input Number for Factorial Calculation: 5
120